.DS_Store
.env



# Added by cargo

/target


#data/raw/reports/*

#data/raw/reports/AK/*

# States

data/raw/reports/AK/*
data/raw/reports/AL/*
data/raw/reports/AQ/*
data/raw/reports/AR/*
data/raw/reports/AS/*
data/raw/reports/AZ/*
data/raw/reports/CA/*
data/raw/reports/CO/*
data/raw/reports/CT/*
data/raw/reports/DC/*
data/raw/reports/DE/*
data/raw/reports/FL/*
data/raw/reports/GA/*
data/raw/reports/GU/*
data/raw/reports/HI/*
data/raw/reports/IA/*
data/raw/reports/ID/*
data/raw/reports/IL/*
data/raw/reports/IN/*
data/raw/reports/KS/*
data/raw/reports/KY/*
data/raw/reports/LA/*
data/raw/reports/MA/*
data/raw/reports/MD/*
data/raw/reports/ME/*
data/raw/reports/MI/*
data/raw/reports/MN/*
data/raw/reports/MO/*
data/raw/reports/MP/*
data/raw/reports/MS/*
data/raw/reports/MT/*
data/raw/reports/NC/*
data/raw/reports/ND/*
data/raw/reports/NE/*
data/raw/reports/NH/*
data/raw/reports/NJ/*
data/raw/reports/NM/*
data/raw/reports/NV/*
data/raw/reports/NY/*
data/raw/reports/OH/*
data/raw/reports/OK/*
data/raw/reports/OR/*
data/raw/reports/PA/*
data/raw/reports/PR/*
data/raw/reports/RI/*
data/raw/reports/SC/*
data/raw/reports/SD/*
data/raw/reports/TN/*
data/raw/reports/TX/*
data/raw/reports/UT/*
data/raw/reports/VA/*
data/raw/reports/VI/*
data/raw/reports/VT/*
data/raw/reports/WA/*
data/raw/reports/WI/*
data/raw/reports/WV/*
data/raw/reports/WY/*
